 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Urban Sharks is a collection of 1,000 unique pixel art hand-crafted using 8bit Painter. What makes Urban Sharks different? It’s the character. We’re here to represent people who can express themselves via sea, and powerful sharks. It’s not about space, it’s not about boredom – it’s about the sea energy!</p>
                </div>
                <div class="col-lg-4">
                    <p>Urban Sharks created by 23-year-old student of muhammadiyah sidoarjo university from Indonesia. This project was inspired by the Weird Whales - Benyamin. We will created all the trait layers for the sharks (normal, zombie, ape, alien)</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://opensea.io/collection/urbansharks" class="btn btn-lg btn-outline">
                        BUY ON OPENSEA
                    </a>
                </div>
            </div>
        </div>
    </section>
